.contact-section{
  background-color: white;
  font-family: Open Sans,sans-serif;
  width: 100%;
}
.contact-container{
  width: 60%;
  padding-bottom: 50px;
  margin: 50px auto 0;
}
#map{
  width: 100%;
  height: 400px;

}
.contact-left-half{
  width: 35%;
  display: inline-block;
  text-align: center;
}
.contact-right-half{
  width: 60%;
  display: inline-block;
}
.profile{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.number{
  width: 150px;
  padding: 10px;
  margin: 10px auto;
  background-color: #ff0044;
  border-radius: 5px;
}
.number a{
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.contact-list{
  list-style: none;
}
.contact-list li{
  display: inline-block;
}

.contact-form{
  width: 100%;
}
.text-fields{
  width: 100%;
}
.contact-form input[type=email], .contact-form input[type=text]{
  display: inline-block;
  width: 21%;
}
.contact-form textarea{
  width: 87%;
  resize: none;
  overflow: hidden;
}
.contact-form input[type=email], .contact-form input[type=text], .contact-form textarea {
    padding: 12px 24px;
    font-size: 15px;
    font-family: open sans;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    background: rgba(0,0,0,.12);
    border-radius: 5px;
}

.button{
  font-size: 14px;
  width: 80px;
  height: 30px;
  color: white;
  background-color: #ff0044;
  border-radius: 8%;
  float: right;
  margin-right: 2%;
}
.copyright:first-of-type {
  margin: 200px auto 0;
}
.copyright:not(:first-of-type) {
  margin: 10px auto 0;
}
.copyright{
  font-size: 12px;
  text-align: center;
  color: grey;
}
.copyright a {
  color: blue;
}






/******************************** RESPONSIVE CSS/MEDIA QUERIES **************************************/




/* extra large devices are anything with a width higher than 1200px and is covered by the default css above */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
 .contact-container{
   width: 72%;
 }
} /******************* end of max-width: 1200 *********************/




/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea{
    width: 100%;
  }
  .profile{
    height: 180px;
    width: 180px;
  }
} /******************* end of max-width: 992 *******************/



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .contact-container{
    width: 80%;
  }
  .contact-left-half{
    display: block;
    width: 100%;
  }
  .contact-right-half{
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-left: 0px;
  }
  .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea{
    width: 90%;
  }
} /******************* end of max-width: 768 *******************/



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

} /******************* end of max-width: 480 *******************/



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

} /******************* end of max-width: 320 *******************/
