.contact-section{
  background-color: white;
  font-family: Open Sans,sans-serif;
  width: 100%;
}
.contact-container{
  width: 60%;
  margin: 50px auto;
}
#map{
  width: 100%;
  height: 400px;

}
.contact-left-half{
  width: 35%;
  display: inline-block;
  text-align: center;
}
.contact-right-half{
  width: 60%;
  display: inline-block;
  text-align: center;
}
.profile{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.number{
  width: 150px;
  padding: 10px;
  margin: 10px auto;
  background-color: #ff0044;
  border-radius: 5px;
}
.number a{
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.contact-list{
  list-style: none;
}
.contact-list li{
  display: inline-block;
}

.text-fields{
  width: 100%;
}
input[type=email], input[type=text]{
  display: inline-block;
  width: 23%;
}
textarea{
  width: 87%;
  resize: none;
  overflow: hidden;
}
input[type=email], input[type=text], textarea {
    padding: 12px 24px;
    font-size: 15px;
    font-family: open sans;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    background: rgba(0,0,0,.12);
    border-radius: 5px;
}

.button{
  font-size: 14px;
  width: 80px;
  height: 30px;
  color: white;
  background-color: #ff0044;
  border-radius: 8%;
  float: right;
}
