*{
  margin: 0;
  padding: 0;
  border: 0;
}
.background{
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-image: url('../images/top_background-min.jpg');
  background-size: cover;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  opacity: .9;
}
.header-container{
  width: 100%;
  display: block;
  height: 75px;
  z-index: 2;
}
.navbar{
  width: 60%;
  margin: auto;
  color: white;
  padding: 10px 0 0 0;
}
.default{
  position: relative!important;
}
.nav-fixed{
  position: fixed!important;
  background-color: #545454!important;
}
.logo{
  width: 200px;
  height: 50px;
  display: inline-block;
}
.nav-default{
  float: right;
  display: inline-block;
}
.nav-default ul{
  list-style: none;
}
.nav-default li{
  display: inline-block;
}
.active{
  border-bottom: 5px solid red;
}
.nav-default li a{
  font-size: 18px;
  color: #fff;
  font-weight: 800;
  padding: 90px 35px 10px;
  text-decoration: none;
}


.hamburger{
  display: none;
  float: right;
  width: 75px;
}
.hamburger button{
  background-color: grey;
  cursor: pointer;
  border-radius: 5px;
}
.hamburger-icon{
  height: 50px;
  width: 50px;
}
.hamburger-list{
  display: none;
  list-style: none;
  width: 100%;
  background-color: grey;
}
.hamburger-list li{
  text-align: center;
  width: 29%;
  display: inline-block;
  padding: 10px 10px;
}
.hamburger-list li:not(:last-child){
  border-right: 2px solid black;
}
.hamburger-list li a{
  color: white;
  text-decoration: none;
}
.hamburger-list-end-page {
  display: none;
  list-style: none;
  width: 100%;
  background-color: grey;
}
.hamburger-list-end-page li{
  text-align: center;
  padding: 10px 10px;
  width: 100%
}
.hamburger-list-end-page li a{
  color: white;
  text-decoration: none;
}


.title-row{
  font-family: Open Sans,sans-serif;
  width: 60%;
  margin: 0 auto;
  padding: 115px 0 200px;
  color: white;
}
.check-div{
  width: 100%;
}
.title-row img{
  display: block;
  margin: 0 auto;
}
.title{
  color: #fff;
  font-size: 60px;
  -webkit-transition: all 1s ease; /* Safari */
  transition: all 1s ease;
}
.title:hover{
  cursor: default;
  color: red;
}
.title-description{
  font-size: 18px;
  margin: 20px 0;
  line-height: 26px;
  color: #fff;
}
.title-description a{
  color: #fff;
}
.title-links{
  display: inline-block;
}

.chevron{
  margin-left: 20px;
}
.looking-to-hire{
  background-color: #ff0044;
  width: 230px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 30px;
}
.looking-to-hire a{
  color: inherit;
  text-decoration: none;
}
.need-building{
  color: inherit;
  font-size: 1.17em;
  background: hsla(0,0%,100%,.24);
  width: 250px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
}
.note{
  margin-top: 20px;
}

/****************************** CODE FOR "I NEED A BUILDING" FORM *******************************/
.building-form{
  display: none;
  margin-top: 20px;
  width: 100%
}
.building-form-inputs{
  width: 100%;
}
.building-form input[type=text], .building-form input[type=email]{
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: 15px 0;
}
.building-form textarea{
  display: block;
  resize: none;
  padding: 10px;
  width: 97%;
}
.building-form input[type=text]::placeholder, .building-form input[type=email]::placeholder,.building-form textarea::placeholder{
  color: #000;
  font-size: 14px;
}
.building-form input[type=text], .building-form input[type=email], .building-form textarea{
  color: #000;
  font-size: 14px;
  background: hsla(0,0%,100%,.5);
  border-radius: 5px;
}
.building-form input[type=submit]{
  margin-top: 15px;
  margin-right: 4.2%;
  font-size: 14px;
  width: 80px;
  height: 30px;
  float: right;
  border-radius: 5px;
  color: inherit;
  background-color: #ff0044;
}
/****************************** END - CODE FOR "I NEED A BUILDING" FORM ******************************/




/******************************** RESPONSIVE CSS/MEDIA QUERIES **************************************/


/* extra large devices are anything with a width higher than 1200px and is covered by the default css above */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .navbar{
    width: 70%;
  }
  .title-row{
    width: 70%
  }
  .building-form input[type=text], .building-form input[type=email]{
    width: 29.5%;
  }

} /******************* end of max-width: 1200 *********************/




/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .need-building{
    width: 230px;
  }
  .looking-to-hire{
    width: 230px;
  }
  .nav-default li a{
    padding: 90px 20px 10px;
  }
  .building-form input[type=text], .building-form input[type=email]{
    width: 28.9%;
  }
  .title-row img{
    height: 400px;
    width: 400px;
  }
} /******************* end of max-width: 992 *******************/



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar{
    width: 80%;
  }
  .title-row{
    width: 80%;
    padding: 80px 0 140px;
    text-align: center;
  }
  .title-row img{
    height: 300px;
    width: 300px;
    padding-left: 25%;
  }
  .title{
    font-size: 50px;
  }
  .title-description{
    font-size: 16px;
  }
  .title-links{
    display: block;
    margin: 10px auto;
  }
  .need-building{
    width: 260px;
  }
  .building-form input[type=text], .building-form input[type=email], .building-form textarea{
    display: block;
    width: 100%
  }
  .building-form input[type=submit]{
    margin-right: 0;
  }
  .hamburger{
    display: inline-block;
  }
  .hamburger-list li{
    width: 28%;
  }
  .nav-default{
    display: none;
  }

} /******************* end of max-width: 768 *******************/



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .title-row{
    padding: 80px 0 140px;
  }
  .title{
    font-size: 45px;
  }
  .hamburger-list li{
    width: 25%;
  }
  .title-row img{
    padding-left: 20%;
  }
} /******************* end of max-width: 480 *******************/



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

} /******************* end of max-width: 320 *******************/
