*{
  margin: 0;
  padding: 0;
  border: 0;
}
.background{
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-image: url('../images/top_background.jpg');
  background-size: cover;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  opacity: .9;
}
.header-container{
  height: 90px;
  display: block;
  width: 60%;
  margin: auto;
  color: white;
  padding: 20px 0 20px 0;
}
.logo{
  width: 200px;
  height: 50px;
  display: inline-block;
}
.nav-default{
  float: right;
  display: inline-block;
}
.nav-default ul{
  list-style: none;
}
.nav-default li{
  display: inline-block;
}
.active{
  border-bottom: 5px solid red;
}
.nav-default li a{
  font-size: 18px;
  color: #fff;
  font-weight: 800;
  padding: 90px 35px 30px;
  text-decoration: none;
}
.title-row{
  font-family: Open Sans,sans-serif;
  width: 60%;
  margin: 0 auto;
  padding: 115px 0 200px;
  color: white;
}
.title-row img{
  padding-left: 25%;
}
.title{
  color: #fff;
  font-size: 60px;
  -webkit-transition: all 1s ease; /* Safari */
  transition: all 1s ease;
}
.title:hover{
  cursor: default;
  color: red;
}
.title-description{
  font-size: 18px;
  margin: 20px 0;
  line-height: 26px;
  color: #fff;
}
.title-description a{
  color: #fff;
}
